body{
  margin:0;
  padding:0;
}
.container{
  text-align: center;
  margin:360px;
}
.btn{
  border:1px solid #3498db;
  width: 50%;
  background:#4183B2;
  padding: 10px 20px;
  font-size: 20px;
  font-family: 'Arial', sans-serif;
  cursor: pointer;
  margin:10px;
}