body{
  margin:0;
  padding:0;
  font-family: 'Segoe UI',sans-serif
}
.container{
  text-align: center;
  margin:360px;
}
.button {
  background-color: #4083b2;
  border: none;
  color: #FFFFFF;
  text-align: center;
  font-size: 28px;
  padding: 1rem 2rem;
  width: 200px;
  transition: all 0.5s;
  cursor: pointer;
  margin: 5px;
}

.button:hover {
  padding-right: 25px;
  background-color: #15ab74;
  border-radius: 50px;
}
