body{
    padding:0;
    margin:0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}
.vertical-menu {
    width: 200px; /* Set a width if you like */
}

.vertical-menu a {
    background-color: #eee; /* Grey background color */
    color: black; /* Black text color */
    display: block; /* Make the links appear below each other */
    padding: 12px; /* Add some padding */
    text-decoration: none; /* Remove underline from links */
}

.vertical-menu a:hover {
    background-color: #ccc; /* Dark grey background on mouse-over */
}

.vertical-menu a.active {
    background-color: #4CAF50; /* Add a green color to the "active/current" link */
    color: white;
}
li{
    list-style: none;   
}
.nav li:hover>.submenu{
    display: block;
}
.nav>li>.submenu-1{
    top: 16px;
    left: 200px;
}
ul li:hover {background: #555;}
ul li:hover ul {display: block;}
ul li ul {
    position: absolute;
    width: 200px;
    display: none;
}
ul li ul li { 
    background: #555; 
    display: block; 
}
ul li ul li a {display:block !important;}
ul li ul li:hover {background: #666;}
.nav>li>.submenu-2{
    top: 100px;
    left: 200px;
}
.nav>li>.submenu-3{
    top: 160px;
    left: 200px;
}
.nav>li>.submenu-4{
    top: 202px;
    left: 200px;
}
.nav>li>.submenu-5{
    top: 243px;
    left: 200px;
}
.nav>li>.submenu-6{
    top: 286px;
    left: 200px;
}