body{
    margin:0;
    padding:0;
}
.learning, .coding, .teaching{
    
}
.coding{
    background-color: #c26417;
    animation: slideDown 3s linear infinite;
}
.learning{
    background-color: #c26417;
    animation: slideDown 3s linear infinite;
}
.teaching{
    background-color: #c26417;
    animation: slideDown 3s linear infinite;
}
@keyframes slideDown{
    0%{
        top:-45px;
    }
    33%
}
@keyframes slideUp{
    0%{
        top:45px;
        
    }
}