body{
    margin:0;
    padding:0;
    box-sizing: border-box;
    font-family: 'Arial', sans-serif;
}
.grid-container {
    display: grid;
    grid-template-columns: auto auto auto;
    padding: 10px;
}
.grid-item {
    padding: 20px;
    font-size: 30px;
    text-align: center;
}
.button {
    background-color: dodgerblue;
    border: none;
    color: #FFFFFF;
    text-align: center;
    font-size: 28px;
    padding: 1rem 2rem;
    width: 200px;
    cursor: pointer;
    transition: all 0.5s;
    margin: 5px;
}

.button:hover {
    background-color: #15ab74;
    border-radius: 25px;
}
.hvr-grow {
    display: inline-block;
    vertical-align: middle;
    transform: translateZ(0);
    box-shadow: 0 0 1px rgba(0, 0, 0, 0);
    backface-visibility: hidden;
    -moz-osx-font-smoothing: grayscale;
    transition-duration: 0.3s;
    transition-property: transform;
}

.hvr-grow:hover,
.hvr-grow:focus,
.hvr-grow:active {
    transform: scale(1.1);
}
